{% extends 'bach_calc/base_jp.html'%}

{% block title %} {% endblock %}

{% block content %} 
<div class="container mt-5 mx-auto flex w-50 ">
<div class="card love-inner stats">

    <a href="https://www.mhlw.go.jp/toukei/itiran/roudou/chingin/kouzou/z2017/dl/07.pdf">男女年収分布</a>
    <a href="https://www.stat.go.jp/data/kokusei/2015/kekka/pdf/gaiyou1.pdf">全国結婚率</a> 
    <a href="https://www.jili.or.jp/lifeplan/rich/1260.html">肥満率</a>
    <a href="https://en-konkatsu.com/media/article/ordinary_male_specs/">身長分布</a>
    <a href="https://www.health-net.or.jp/tobacco/statistics/kokumin_kenkou_eiyou_report.html"> 喫煙習慣者 </a>
    
</div>
<hr>
<div class="card love-inner stats">
    <p>Ill add the limitations that I have here</p>
</div>
</div>
{% endblock %}
