{% extends 'bach_calc/base_en.html'%}

{% block title %} {% endblock %}

{% block content %} 
<div class="container mt-5 mx-auto flex w-50">
        
    <div class="card love-inner stats">
        <p>ill add more to this later. </p>
        <a href="https://www.mhlw.go.jp/toukei/itiran/roudou/chingin/kouzou/z2017/dl/07.pdf">men-female income (2017)</a>
        <a href="https://www.stat.go.jp/data/kokusei/2015/kekka/pdf/gaiyou1.pdf">marriage rate (never been married) (will need to put 5 year number for each individual age) It is national average, not tokyo</a> 
        <a href="https://www.jili.or.jp/lifeplan/rich/1260.html">Obesity</a>
        <a href="https://en-konkatsu.com/media/article/ordinary_male_specs/">height specs</a>
        <a href="https://www.health-net.or.jp/tobacco/statistics/kokumin_kenkou_eiyou_report.html">smoking  </a>
        <p>extra</p>
        <a href="https://www.mhlw.go.jp/toukei/itiran/roudou/chingin/kouzou/z2020/dl/13.pdf">new income vs age data but its not broken down into income brackets  </a>
        <a href="https://www.mhlw.go.jp/toukei/itiran/roudou/chingin/kouzou/z2019/dl/07.pdf">Newer income data I will add it later.  </a>
    
    </div>
    <hr>
    <div class="card love-inner stats">
        <p>Ill add the limitations that I have here</p>
    </div>
</div>
{% endblock %}
